version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: case-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: case_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
